<div class="new-color">
	<div class="back"></div>

	<div class="container"> <!-- Container 1 -->

			<hr class="left1" /><hr class="right1" />

		<h2 id="top" class="text-center">Congratulations on your decision on buying your First Home.</h2>

			<p id="description" class="text-center">
			Taking those first steps in buying your first home can be a bit tricky, this informational site is
			set up so that it can give you all the information to make buying your first home a breeze. As you journey through
			know that at any time you can refer back to our site at any stage.
			<p>

				<hr class="left1" /><hr class="right1" />

	</div>

	<div class="container-fluid">
		<div class="large-window"></div>
	</div>
</div>

<div class="newish">

	<div class="container">

		<div class="row">

			<div class="adjust">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="post1">
					<h2>Step One: Know What You Want</h2>
					<br />
					<p>###Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="post2">
				<h2>Step Two: Not Enough Savings?</h2>
				<br />
				<p>###Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="post3">
				<h2>Step Three: Know Your Limits</h2>
				<br />
				<p>!!!Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="post4">
				<h2>Step Four: Finding A House</h2>
				<br />
				<p>!!!Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="post5">
				<h2>Step Five: Found That House?</h2>
				<br />
				<p>!!!Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="post6">
				<h2>Step Six: Unconditional</h2>
				<br />
				<p>!!!Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="post7">
				<h2>Step Seven: Move In Day</h2>
				<br />
				<p>!!!Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>

			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<div class="post8">
				<h2>Step Eight: CONGRATULATIONS!!!</h2>
				<br />
				<p>!!!Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
		</div>

		</div>

	</div> <!-- Close Container  -->

</div>
